<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dyr med ben</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let animal of animals|async">
      <h2>{{animal.data.name}}</h2>
      <p>{{animal.data.legs}} ben</p>
      <button ion-button item-end (click)="presentModal(animal)">View</button>
    </ion-item>
  </ion-list>
  <button ion-button color="secondary" (click)="presentModal({data: {}, ref: undefined})">Tilføj</button>
</ion-content>
