<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Item Details</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <h3 text-center>
    {{selectedItem.data.name !== "" ? selectedItem.data.name : '&nbsp;'}}
  </h3>
  <ion-list>

    <ion-item>
      <ion-label floating>Dyr</ion-label>
      <ion-input type="text" [(ngModel)]="selectedItem.data.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Antal ben</ion-label>
      <ion-input type="number" [(ngModel)]="selectedItem.data.legs"></ion-input>
    </ion-item>

    <button ion-button (click)="saveData()" [disabled]="saving">Gem</button>
    <button color="danger" ion-button *ngIf="this.selectedItem.ref" (click)="deleteAnimal()" [disabled]="saving">Slet</button>
  </ion-list>
</ion-content>
